*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50wh;
    background-color: #FFCFEF;
}

.sub-container{
    display: grid;
    flex-direction: column;
    margin-top: 18px;
    position: relative;
    box-shadow: 0px 0px 5px #2A3335;
    padding: 15px;
    border-radius: 5px;
}

.sub-container input{
    margin: 5px 0px;
    padding: 6px 7px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 250px;
    font-size: 16px;

    &&:hover{
        border: 1px solid blueviolet;
        transition: all ease-in-out 0.3s;
    }

}

.sub-container label{
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
}

.sub-container button{
    width: 40%;
    margin-top: 6px;
    padding: 8px 0px;
    border-radius: 5px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    background-color: #3ff849;
    color: #fff;  
    cursor: pointer;

    &&:hover{
        background-color: #019c1b;
    }
}

span{
    color: red;
    /* visibility: hidden; */
    margin-top: -4px;
}



